#disp {
  width: 98vw;
  height: 80vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  font-family: Simplifica;
  font-weight: bold;
}

#dados {
  width: 300px;
  height: auto;
  align-self: flex-end;
  margin: 0 100px;
  color: rgb(47, 40, 82);
}

#dados p:first-child {
  font-size: 120px;
}

#dados p {
  font-size: 55px;
}

#dados p:last-child {
  font-size: 40px;
}

#mostrarMais {
  border-right-style: solid;
  border-bottom-style: solid;
  transform: rotate(45deg);
  width: 30px;
  height: 30px;
  margin-left: 136px;
  cursor: pointer;
}

#outrosValores {
  margin-top: 20px;
  font-size: 45px;
  display: none;
  justify-content: space-between;
}
