<div id="disp">
    <div id="dados">
        <p>27°</p>
        <br>
        <p>16h00 | Agora</p>
        <p>São Paulo</p>
        <div id="mostrarMais" (click)="aqui($event)"></div>
        <div id="outrosValores">
            <div>
                18h00
                <br>
                18°C
            </div>
            <div>
                18h00
                <br>
                18°C
            </div>
            <div>
                18h00
                <br>
                18°C
            </div>
            <div>
                18h00
                <br>
                18°C
            </div>

        </div>
    </div>

</div>
