@font-face {
  font-family: 'Simplifica';
  font-style: normal;
  font-weight: normal;
  src: local('Simplifica'), url('assets/fonts/SIMPLIFICA Typeface.woff') format('woff');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Simplifica';
  font-size: 16px;
  background-color: #ffffff;
  background-image: url(../src/assets/img/bg-2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
  color: #fff;
}
