@font-face {
  font-family: 'Simplifica';
  font-style: normal;
  font-weight: normal;
  src: local('Simplifica'), url('assets/fonts/SIMPLIFICA Typeface.woff') format('woff');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='600' height='100' viewBox='0 0 600 100'%3E%3Cg stroke='%23e6ffec' stroke-width='0' stroke-miterlimit='10' %3E%3Ccircle fill='%238cb8d1' cx='0' cy='0' r='50'/%3E%3Ccircle fill='%23c3d4de' cx='100' cy='0' r='50'/%3E%3Ccircle fill='%23d9ffeb' cx='200' cy='0' r='50'/%3E%3Ccircle fill='%23CAF2FF' cx='300' cy='0' r='50'/%3E%3Ccircle fill='%236FCCFF' cx='400' cy='0' r='50'/%3E%3Ccircle fill='%23e5e5e5' cx='500' cy='0' r='50'/%3E%3Ccircle fill='%238cb8d1' cx='600' cy='0' r='50'/%3E%3Ccircle cx='-50' cy='50' r='50'/%3E%3Ccircle fill='%23a8c6d7' cx='50' cy='50' r='50'/%3E%3Ccircle fill='%23c6ebec' cx='150' cy='50' r='50'/%3E%3Ccircle fill='%23ffffff' cx='250' cy='50' r='50'/%3E%3Ccircle fill='%239de0fe' cx='350' cy='50' r='50'/%3E%3Ccircle fill='%23b3d8f2' cx='450' cy='50' r='50'/%3E%3Ccircle fill='%23bacedb' cx='550' cy='50' r='50'/%3E%3Ccircle cx='650' cy='50' r='50'/%3E%3Ccircle fill='%238cb8d1' cx='0' cy='100' r='50'/%3E%3Ccircle fill='%23c3d4de' cx='100' cy='100' r='50'/%3E%3Ccircle fill='%23d9ffeb' cx='200' cy='100' r='50'/%3E%3Ccircle fill='%23CAF2FF' cx='300' cy='100' r='50'/%3E%3Ccircle fill='%236FCCFF' cx='400' cy='100' r='50'/%3E%3Ccircle fill='%23e5e5e5' cx='500' cy='100' r='50'/%3E%3Ccircle fill='%238cb8d1' cx='600' cy='100' r='50'/%3E%3Ccircle cx='50' cy='150' r='50'/%3E%3Ccircle cx='150' cy='150' r='50'/%3E%3Ccircle cx='250' cy='150' r='50'/%3E%3Ccircle cx='350' cy='150' r='50'/%3E%3Ccircle cx='450' cy='150' r='50'/%3E%3Ccircle cx='550' cy='150' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
