.container{
    display: flex;
}
.container select{
    padding: 0 10px;
    border: 1px solid lightgray;
    border-radius: 15px;
}
#id{
    padding: 0 10px;
    border: 1px solid lightgray;
    border-radius: 15px;
}