.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30vh;
}

.input-search {
  display: inline-block;
  width: 50%;
  height: 5vh;
  border: none;
  border-bottom: 1px solid #000000;
  background: transparent;
  font-size: 2rem;
}

.input-search:focus,
.input-search:active {
  outline: none;
}

::placeholder {
  color: #000000;
  font-size: 2rem;
}

.submit-search {
  width: 20%;
  height: 5vh;
  border: none;
  border: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 20px;
  font-size: 1.6rem;
}
