.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30vh;
}

.input{
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #000000;
  height: 5vh;
}

.input-search {
  display: inline-block;
  width: 50%;
  padding: 5px 0 5px 10px;
  font-size: 2rem;

}

.input:focus,
.input:active {
  outline: none;
}

::placeholder {
  color: #000000;
  font-size: 2rem;
}

.input-icon {
  color: transparent;
  background-repeat: no-repeat;
  background-image: url(../../assets/img/search.svg);
  background-size: 3.5vh;
  background-position: center;
  line-height: 20vh;
}

.input-icon:hover{
  cursor: pointer;
}
